%h1 Standard Specs for <span class="is-italic">archy futura</span> model <span class="is-italic">(which can be customized to your choice)</span>

%dl
  %p.is-italic.is-brown all material is hand selected to my standards
  %dt.is-brown top:
  %dd Hand Carved Sitka Spruce, Englemann Spruce, Red Cedar & *Eastern White Spruce

  %dt.is-brown back & sides:
  %dd Hand Carved Flamed Sugar or Broadleaf Maple, **Indian Rosewood flat-back

  %dt.is-brown neck: 
  %dd Flamed Maple, Spanish Cedar, Black Walnut, FSC approved Mahogany

  %dt.is-brown fingerboard:
  %dd Indian Rosewood, Recycled Ebony, Black Walnut

  %dt.is-brown & bridge:
  %dd Solid Maple, Rosewood or Ebony violin style bridge

  %dt.is-brown tailpiece:
  %dd Rosewood, Ebony or Black Walnut

  %dt.is-brown bracing:
  %dd Traditional Parallel bars or X-brace

  %dt.is-brown binding: 
  %dd Flamed Maple, Rosewood, Walnut - inquire about what is available

  %dt.is-brown finger rest:
  %dd Flamed Maple, Rosewood, Ebony or Walnut

  %dt pickup: 
  %dd Kent Armstrong Jazz Humbucker

  %dt tuners:
  %dd Grover Sta-Tite or Gotoh Stealth

  %dt pickguard:
  %dd Clear adhesive plastic

  %dt finish:
  %dd High gloss nitro cellulose lacquer, Hard shellac French Polish

  %dt strings:
  %dd D'addario light guage 0.52 to 0.13

  %dt truss rod: 
  %dd Two-way 4mm allen 


  %dt.is-italic Measurements
  %dd 


  %dt scales:
  %dd 25", 25.5" & 22.75"

  %dt nut width:
  %dd 1.5", 1.63" & 1.75"


  %dt fingerboard radius:
  %dd 12", 16" & 20"

  %dt frets:
  %dd 19 to 23



  %dt neck to body joint:
  %dd 12th, 13th & 14th fret (16th for p'ti dinger)

  %dt body depth:
  %dd 3”
  
  %dt
  %dd.is-italic *Standard Dovetail neck joint also available

