%dl
  %p all material is hand selected to my standards
  %dt top:
  %dd Sitka Spruce, Englemann Spruce, Red Cedar & *Eastern White Spruce

  %dt back & sides:
  %dd Sitka Spruce, Black Walnut, Flamed Sugar Maple, Flamed Broadleaf Maple, **Indian Rosewood

  %dt neck: 
  %dd Flamed Maple, Spanish Cedar, Black Walnut, FSC approved Mahogany

  %dt fingerboard:
  %dd Indian Rosewood, Recycled Ebony, Black Walnut

  %dt & bridge:
  %dd Traditional Scalloped Bridge, Pyramid Bridge or Floating Adjustable Bridge & Tailpiece

  %dt brading:
  %dd Traditional X-style, scalloped, same material as top choice

  %dt binding: 
  %dd Flamed Maple, Rosewood, Walnut - inquire about what is available

  %dt rosette:
  %dd Classical style rosette, custom wood mosaic

  %dt pickup: 
  %dd Passive Schatten Soundboard Conductor (upgrades available)

  %dt tuners:
  %dd Grover Sta-Tite

  %dt pickguard:
  %dd Clear adhesive plastic

  %dt finish:
  %dd High gloss nitro cellulose lacquer, Hard shellac French Polish

  %dt strings:
  %dd D'addario light guage 0.52 to 0.13

  %dt truss rod: 
  %dd wo-way 4mm allen 


  %dt Measurements
  %dd 


  %dt scales:
  %dd 25", 25.5" & 22.75"

  %dt nut width:
  %dd 1.5", 1.63" & 1.75"

  %dt neck: 
  %dd Flamed Maple, Spanish Cedar, Black Walnut, FSC approved Mahogany

  %dt fingerboard radius:
  %dd 12", 16" & 20"

  %dt frets:
  %dd 19 to 23



  %dt neck to body joint:
  %dd 12th, 13th & 14th fret (16th for p'ti dinger)

  %dt body depth:
  %dd 3” to 5.125”

  %dt body-radius:
  %dd 15’ for back, 30’ for top

  %dt lower bout:
  %dd 10” for p’ti dinger, 12” for lil’ dinger, 15.5” for old dinger
