%footer#contact.l-module--spaced.is-relative.has-edge--last.overflow.green-bg
  %article.l-container--narrow
    %p.is-brown
      All commissioned work will be performed by me, master chef Matt Maranger. All commissions are subject to unique timelines - current turnaround is 8 months to a year, depending on availability of materials and existing schedule. 
    %p
      Along with fabrication of guitars & basses, repair and restoration are a huge part of what goes on at Humco. Guitars, banjos, mandolins, ukeleles, bouzoukis, dulcimers, violins, autoharps have all made their way into the shop, and have all left to go on to irritate and entertain all roommates & loved ones, guaranteed. 

  %article.l-container.txt-center
    %h2
      %a{:href => "costsheets.html", :target => "blank"}
        %span Click here for custom guitar & repair cost sheet 

    .l-module--wide
      %ul.social-list
        %li
          %a.social-list-link{:href=>"mailto:mattmaranger@gmail.com"}
            %img{:src=>"img/icon-mail.svg", :alt=>"Humco Mail Icon"} 
        %li
          %a.social-list-link.phone-link{:href=>"tel:+17058064253"}
            %img{:src=>"img/icon-phone.svg", :alt=>"Humco Phone Icon"}
            %span 705.806.4253
        %li
          %a.social-list-link{:href=>"https://www.facebook.com/pages/Humco-Instruments/277234582395449"}
            %img{:src=>"img/icon-fb.svg", :alt=>"Humco Facebook Icon"} 
      %address Kagawong,  Manitoulin Island, Ontario P0P 1J0


  = partial "contact"
    

  .l-container--narrow.txt-center.footer-logo-wrap
    %span.is-italic Copyright
    %img{:src=>"img/humco-2.png", :alt=>"Humco Footer Logo"}
    %span.is-italic 2014

  .l-container--narrow.credits.txt-center
    %p
      All photography by <a href="www.andrewknapp.com" target="blank">Andrew Knapp</a>. Website coded by <a href="www.scottsavarie.ca" target="black">Scott Savarie.</a>
      Both are humans of the highest convceivable quality.
      This website was also designed by me, the master chef
