%nav.nav-wrap
  .nav-badge-wrap
    %img.humco-logo{:src=>"img/humco-10.png", :alt=>"Humco Navigation Logo"} 
    %img.humco-logo.humco-type{:src=>"img/humco-12.png", :alt=>"Humco Navigation Logo"} 
  %ul.nav-links
    %li
      %a{:href=>"index.html"}
        %span Home
      %a{:href=>"index.html#models"}
        %span Models
      %a{:href=>"index.html#options"}
        %span Options
      %a{:href=>"index.html#gallery"}
        %span Gallery
      %a{:href=>"#contact"}
        %span Contact
      %a{:href=>"warranty.html"}
        %span Warranty
