%nav.nav-wrap
  .nav-badge-wrap
    %img.humco-logo{:src=>"img/humco-10.png", :alt=>"Humco Navigation Logo"} 
    %img.humco-logo.humco-type{:src=>"img/humco-12.png", :alt=>"Humco Navigation Logo"} 
  %ul.nav-links
    %li
      %a{:href=>"#home"}
        %span Home
      %a{:href=>"#models"}
        %span Models
      %a{:href=>"#options"}
        %span Options
      %a{:href=>"#gallery"}
        %span Gallery
      %a{:href=>"#contact"}
        %span Contact
