%nav.nav-wrap
  .nav-badge-wrap
    %img.humco-logo{:src=>"img/humco-10.png", :alt=>"Humco Navigation Logo"} 
    %img.humco-logo.humco-type{:src=>"img/humco-12.png", :alt=>"Humco Navigation Logo"} 
  %ul.nav-links
    %li
      %a{:href=>"#"}
        %span Home
      %a{:href=>"#"}
        %span Models
      %a{:href=>"#"}
        %span Options
      %a{:href=>"#"}
        %span Gallery
      %a{:href=>"#"}
        %span Contact
