---
title: "title"
description: "description"
---

- @body_class = 'page-home'
- @page_class = ''




%header
  .l-module.is-relative
    .logo-wrap
      %img{:src=>"img/humco-11.png", :alt=>"Humco Logo"}   
      %img{:src=>"img/humco-1.png", :alt=>"Handmade Archtop & Flat-top Guitars"}   
    %img.img-full-width{:src=>"img/archtop-headstock.jpg", :alt=>"Archtop Guitar Headstock"}
    = partial "navigation"