---
title: "title"
description: "description"
---

- @body_class = 'page-home'
- @page_class = ''




%header
  .l-module.is-relative
    .logo-wrap
      %img{:src=>"img/humco-11.png", :alt=>"Humco Logo"}   
      %img{:src=>"img/humco-1.png", :alt=>"Handmade Archtop & Flat-top Guitars"}   
    %img.img-full-width{:src=>"img/archtop-headstock.jpg", :alt=>"Archtop Guitar Headstock"}
    = partial "navigation"

%section.l-module--spaced.green-bg
  %article.l-container--narrow
    %p
      When I began to make instruments,  I wondered if it were possible to make musical instruments that could 
      sustain the earth while sustaining the craft of lutherie. It seems to me that the methods of some builders contribute to the overall depletion of natural resources, effectively crippling the the  earth and what can be built from it.  I remember reading an experienced luthier who said, “Don’t bother to be a luthier anymore; all of the good wood has been used.” And yet, Bob Benedetto built a guitar out of a douglas fir and pine pallet, with a tone that was comparable to his finely aged and rare European spruce and maple instruments. All of this to say, it is possible for luthiers to use materials from their own backyards while taking time to consider replanting for the future.  I believe some of the most stunning instruments available have yet to come. More importantly, we all benefit; it’s the act of making beautiful music together. 

%section
  .l-module.is-relative
    .type-wrap.models
      %img{:src=>"img/humco-8.png", :alt=>"Humco Models Type"}  
    %img.img-full-width{:src=>"img/humco-13.jpg", :alt=>"Humco Guitar Models"}

