---
title: "Humco Guitars Made By Master Chef Matt Merranger"
description: "Humco is a Canadian company that builds handmade guitars with locally sourced materials."
---

- @body_class = 'page-home'
- @page_class = ''




%header#home
  .l-module.is-relative#header-wrap
    .logo-wrap
      %img{:src=>"img/humco-11.png", :alt=>"Humco Logo"}   
      %img{:src=>"img/humco-1.png", :alt=>"Handmade Archtop & Flat-top Guitars"}   
      %ul.social-list
        %li
          %a.social-list-link{:href=>"mailto:mattmaranger@gmail.com"}
            %img{:src=>"img/icon-mail.svg", :alt=>"Humco Mail Icon"} 
        %li
          %a.social-list-link.phone-link{:href=>"tel:+17058064253"}
            %img{:src=>"img/icon-phone.svg", :alt=>"Humco Phone Icon"}
            %span 705.806.4253
        %li
          %a.social-list-link{:href=>"https://www.facebook.com/pages/Humco-Instruments/277234582395449"}
            %img{:src=>"img/icon-fb.svg", :alt=>"Humco Facebook Icon"} 
      %a.is-italic.is-light-green{:href=>""}
        %span Visit my building log
    .img-header-wrap
      %img#header-img.img-full-width{:src=>"img/archtop-headstock.jpg", :alt=>"Archtop Guitar Headstock"}
    = partial "navigation"

%section.l-module--spaced.is-relative.has-edge.overflow.green-bg
  %article.l-container--narrow
    %p
      When I began to make instruments,  I wondered if it were possible to make musical instruments that could 
      sustain the earth while sustaining the craft of lutherie. It seems to me that the methods of some builders contribute to the overall depletion of natural resources, effectively crippling the the  earth and what can be built from it.  I remember reading an experienced luthier who said, <span class ="is-italic">“Don’t bother to be a luthier anymore; all of the good wood has been used.”</span> And yet, Bob Benedetto built a guitar out of a douglas fir and pine pallet, with a tone that was comparable to his finely aged and rare European spruce and maple instruments. All of this to say, it is possible for luthiers to use materials from their own backyards while taking time to consider replanting for the future.  I believe some of the most stunning instruments available have yet to come. More importantly, we all benefit; it’s the act of making beautiful music together. 

%section#models
  .l-module.is-relative
    .type-wrap
      %img{:src=>"img/humco-8.png", :alt=>"Humco Models Type"}  
    %img#models-img.img-full-width{:src=>"img/humco-13.jpg", :alt=>"Humco Guitar Models"}


%section.l-module--spaced.is-relative.has-edge.overflow.green-bg
  %article.l-container--narrow
    %p
      Currently, four different body sizes are being offered, with the option of either a flat-top or carved archtop, for all my current body shapes and sizes. <span class="is-italic">I don't discriminate.</span> 
    %p
      The flat-top guitar is what most people expect out of an acoustic guitar maker, and I can't blame them. These are versatile and more simple to produce, with a timeless sound. This is why flat-top guitars are the most common form of acoustic instrument (other than the violin) in production on earth. As an apprentice guitar maker, I learned exactly what needed to be done to maximize the potential of the traditional X-brace; leave material where strength is required while removing material in other places to allow for flexibility.  In the end, you have an instrument that is free to vibrate, with structural integrity to last for the ages. 


%section
  .l-module.is-relative
    .type-wrap.ptidinger
      %img{:src=>"img/humco-7.png", :alt=>"Petit Dinger Logotype"}  
    %img#pti-img.img-full-width{:src=>"img/lilildingfront.jpg", :alt=>"Petit Dinger Guitar"}

%section
  .l-module.is-relative
    .type-wrap.lildinger
      %img{:src=>"img/humco-6.png", :alt=>"Petit Dinger Logotype"}  
    %img#lil-img.img-full-width{:src=>"img/parlor-front.jpg", :alt=>"Lil Dinger Guitar"}

%section
  .l-module.is-relative
    .type-wrap.olddinger
      %img{:src=>"img/humco-5.png", :alt=>"Old Dinger Logotype"}  
    %img#old-img.img-full-width{:src=>"img/dreadfront.jpg", :alt=>"Old Dinger Guitar"}


%section.l-module--spaced.is-relative.has-edge.overflow.green-bg
  %article.l-container
    = partial "dinger-table"





%section
  .l-module.is-relative
    .type-wrap
      %img{:src=>"img/humco-4.png", :alt=>"Introducing Logotype"}  
    %img#archy-img.img-full-width{:src=>"img/archy-one-side.jpeg", :alt=>"Archy Futura Guitar"}

%section.l-module--spaced.is-relative.has-edge.overflow
  %article.l-container--narrow.txt-center
    %img{:src=>"img/humco-3.png", :alt=>"Archy Futura Logotype"} 

%img#archy-two-img.img-full-width{:src=>"img/archynew.jpg", :alt=>"Archy Futura Guitar"}


%section.l-module--spaced.is-relative.has-edge.overflow.green-bg
  %article.l-container--narrow
    %p
      Introducing a few years worth of inspiration, <span class="is-italic">Archy Futura.</span> Named after the art deco font, it represents
      just what Futura did in its time - a forward step. A fully removable neck gives you the freedom to pack 
      it into overhead airplane storages, suitcases & tight places. You also get the freedom to adjust the action 
      while the guitar is under string tension. All this with a simple allen key.

    %p
      Getting this step right allows for the next one - a one piece bridge. One of the most renowned modern archtop
      makers claims the archtop guitar would benefit from a solid, one piece bridge. Similar to the violin family, 
      this form really maximizes the transfer of energy from the strings to the top. This is what I do.


    %p
      The result is a less muffled voice with greater sustain & reasonance.  It’s a guitar that will make you look twice.
      If you're interested in finding out more on this design, <a href="#contact" class="is-italic">please contact me.</a> 

%img#archy-three-img.img-full-width{:src=>"img/archtop-back.jpg", :alt=>"Archy Futura Guitar Back"}

%section.l-module--spaced.is-relative.has-edge.overflow.green-bg
  %article.l-container--narrow
    %p
      All my archtop guitars have hand carved tops and backs. Everything from the bulk removal of material, to the final shaping, is done with a combination of hand planes, gouges, finger planes, cabinet scrapers, & sandpaper. This allows me the freedom to tune the tops and backs to relative nodes of one another, which makes the difference in a great sounding instrument. No pre-fabricated parts either - bridges, tailpieces, finger rests & inlays are made in house, by me. Necks are hand carved from scratch, and can be carved to any desired custom shape. I do the finishing, final setups and assembly too. Instruments remain under my careful supervision for a few months after first assembled, to allow breaking in. 

%img#archy-four-img.img-full-width{:src=>"img/archy-one-speed-shot.jpeg", :alt=>"Archy Futura Guitar Top"}

%section.l-module--spaced.is-relative.has-edge.overflow.green-bg
  %article.l-container
    = partial "archy-table"

%img#archy-five-img.img-full-width{:src=>"img/archtop-side.jpg", :alt=>"Archy Futura Guitar Side"}



%section#options.l-module--spaced.is-relative.has-edge.overflow.green-bg
  %article.l-container--narrow
    %p.is-brown
      In order to minimize environmental impact, all instruments can be built completely out of sustainably sourced wood, non-chemical glues and finishes.   Forestry Stewardship Council (FSC) approved materials are readily available from my suppliers, so please ask for them. I've also managed to use rosewoods, ebony, mahogany & other exotics from solid wood furniture, so ask about that too. This method of acquiring material is especially effective when the furniture is damaged and doesn't serve its purpose anymore. The fingerboards I’m using right now came from a solid ebony table my friend found on the side of the road!
      Antique stores & markets are some of the best wood suppliers I know, as long as you aren’t fooled by veneer (which, if thick enough, could be re-used).  Perhaps I could recycle a worn out, treasured piece already in your collection?


    %p
      *White Spruce is an Eastern Ontario alternative to Englemann Spruce from B.C. It’s also a relative species of European White Spruce, which is prized amongst tonewoods. 


    %p
      **Most guitar makers can't avoid using rosewoods if they'd like to remain in business, so my choice is Indian Rosewood. What I prefer about this type of rosewood is the method in which it is harvested, and the fact that it is nowhere near extinction. In fact, it is constantly being replanted to shade the acres of coffee plantations all over India. Although the demand for this wood is high, it's a relatively quick growing tree, only needing 20 to 30 years time before reaching an appropriate size suitable for musical instruments. No one can deny its musicality, as many rank it as the most suitable alternative to Brazilian Rosewood. 

    %p
      What inspired me to study as an apprentice luthier at Summit School of Guitar Building and Repair was the lack of skilled instrument repair persons in Northern Ontario. I wondered how many people, like me, had lamented the perpetual state of disrepair their vintage Martins were in, and how long they would remain that way? What can I say? I entered this profession for self-serving purposes.

    %p
      It wasn't until I built my first guitar that I realized how much room for improvement there was for guitar functionality. Each time I build, there is the inevitable trial of trying to make a better sounding instrument. This is what drives me to improve my process, my selection of material, and experiments in maximizing tone. All this to consider while staying true to traditional building principles.



%section#gallery.l-module.royalWrap
  #royal-slider-full.royalSlider.rsDefault
    %div
      %p.swipe-text swipe for more images
      %img.img-full-width.rsImg{:src=>"img/dread-side.jpg", :alt=>"Dread Guitar Side"}
    %img.img-full-width.rsImg{:src=>"img/dreadhead.jpg", :alt=>"Dread Guitar Head"}
    %img.img-full-width.rsImg{:src=>"img/dreadinnerlabel.jpg", :alt=>"Dread Label"}
    %img.img-full-width.rsImg{:src=>"img/dread-back.jpg", :alt=>"Dread Back"}
    %img.img-full-width.rsImg{:src=>"img/archy-one-full-front.jpeg", :alt=>"Archtop Guitar"}
    %img.img-full-width.rsImg{:src=>"img/archy-one-neck-joint.jpeg", :alt=>"Archtop Guitar"}
    %img.img-full-width.rsImg{:src=>"img/archy-one-back.jpeg", :alt=>"Archtop Back Shot"}
    %img.img-full-width.rsImg{:src=>"img/archy-one-front.jpeg", :alt=>"Archy One Front"}
    %img.img-full-width.rsImg{:src=>"img/coco-back.jpeg", :alt=>"Coco Guitar"}
    %img.img-full-width.rsImg{:src=>"img/coco-front.jpeg", :alt=>"Coco Guitar"}
    %img.img-full-width.rsImg{:src=>"img/coco-full-back.jpeg", :alt=>"Coco Guitar"}
    %img.img-full-width.rsImg{:src=>"img/coco-full-front.jpeg", :alt=>"Coco Guitar"}
    %img.img-full-width.rsImg{:src=>"img/cocobolo-side.jpeg", :alt=>"Coco Guitar"}
    %img.img-full-width.rsImg{:src=>"img/parlorfront.jpg", :alt=>"Parlor Guitar"}
    %img.img-full-width.rsImg{:src=>"img/parlorhead.jpg", :alt=>"Parlor Head"}
    %img.img-full-width.rsImg{:src=>"img/parlorback.jpg", :alt=>"Parlor Guitar"}
    %img.img-full-width.rsImg{:src=>"img/parlorbackside.jpg", :alt=>"Parlor Guitar"}
    %img.img-full-width.rsImg{:src=>"img/parlorbridge.jpg", :alt=>"Parlor Guitar"}
    %img.img-full-width.rsImg{:src=>"img/ptidinger.jpg", :alt=>"Pti' Dinger"}
    %img.img-full-width.rsImg{:src=>"img/z_carving0.jpg", :alt=>"Work in progress"}
    %img.img-full-width.rsImg{:src=>"img/z_Carved2.jpg", :alt=>"Work in progress"}
    %img.img-full-width.rsImg{:src=>"img/z_carved3inside.jpg", :alt=>"Work in progress"}
    %img.img-full-width.rsImg{:src=>"img/z_carved1.jpg", :alt=>"Work in progress"}
    







