---
title: "Humco - Warranty"
description: "Humco guitar warranty"
---


.l-module--wide.is-relative
  = partial "navigation"
  .l-container--mid
    %img.warranty-logo.fl{:src=>"img/humco-2.png", :alt=>"Humco Logo"}
    %img.warranty-type.fr{:src=>"img/warranty-type.png", :alt=>"Warranty Custom Type"}
  .l-container--mid
    .two-thirds.fl
      %p.is-italic.is-darkgrey
        It is important that you take a few moments to review this information.
      %p 
        Guitars are not all alike, and my guitars require very specific methods of maintenance and care. Please contact me if you have any questions after reading the following information. 


        It's common knowledge that most finely handcrafted wood instruments require humidity control, especially in dry weather conditions (like we experience in Northern Ontario). Cracks and fractures due to unmaintained humidity levels are not subject to warranty, as this occurs due to neglect. It's important to use a guitar humidifier, or a space humidifier where your instrument is stored, to prevent wood shrinkage, reducing hairline fractures & warping. 


        Periodic maintenance is the responsibility of the owner and is a condition of my warranty. Repairs or alterations should be performed by myself. Repairs or alterations performed by a luthier without my approval also risks cancellation of this warranty. Defective components that qualify for coverage under this warranty will be repaired or replaced (at my discretion) without charge. Custom setup options or alterations to previously manufactured instruments do not fall under warranty, and are subject to additional costs. 


        HUMCO guitars demonstrate high standards of quality in material and craftsmanship, therefore they deserve only the best in protection. We recommend that you keep your guitar in its case when not playing it. If you plan to travel, your instrument should always be stored in a hardshell case, with a humidifier. When traveling by air, your guitar may be exposed to dramatic changes in temperature and pressure. To help prevent possible damage, de-tune all of the strings a few steps so that the tension is reduced from the top and neck of the instrument.

        The purchaser of an instrument has 7 days to decide whether an instrument is suitable to their needs. They have the option of returning the instrument, less the 20% deposit. If not in original condition, the cost of restoration will be deducted. Reimbursement will follow upon resale of the instrument. Custom instruments are not refundable.  Shipping expenses and associated charges are the responsibility of the owner.

        All instruments guarantee workmanship & defects against materials during my lifetime as a luthier, to the original purchaser of the instrument. 
    .one-third.fr
      %p.is-darkgrey.is-italic.txt-center
        Warranty does not cover the following:
      %p.is-darkgrey
        — Fret wear, saddle wear, nut wear, strings and batteries. Damage to finishes or cracks, splitting, or warpage of wood due to changes in temperature or humidity, exposure to or contact with sun, fire, moisture, perspiration, body salts and acids, guitar straps, guitar stands/hangers made from vinyl, plastic, rubber or other synthetic materials, any other chemicals or non-approved polishes & cleaners. Damage, corrosion or rusting of any hardware components caused by humidity, salty air, or exposure to the moisture, body salts and acids of perspiration. 
      %p.is-darkgrey
        — Any damage to an instrument resulting from customization or modification.
      %p.is-darkgrey
        — Normal wear and tear on any part of the instrument or case including finish, jacks, controls, switches, plated surfaces, tuning machines, pickguards, handles, latches, case hardware, etc.
      %p.is-darkgrey
        — All other damage and deterioration due to normal usage, wear and tear, aging, accidents, neglect, abuse, or Acts of Nature. Shrinkage, cracking, or deterioration of plastic bindings. Any instrument, whose serial number is missing, altered or tampered with in any fashion.
      %p.is-darkgrey
        — Any instrument purchased from anyone other than an authorized HUMCO dealer.
      %p.is-darkgrey
        — Instruments that have been serviced by unauthorized persons. 

.l-module
  %img.img-full-width#art-img{:src=>"img/art.png"}


